@using Moms_food.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}
<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Utilisez un compte local pour vous connecter.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Connexion" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("S'inscrire comme nouvel utilisateur", "Register")
                    </p>
                     Activer ceci une fois que la confirmation de votre compte est activée pour la fonctionnalité de réinitialisation du mot de passe
                        <p>
                            @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword")
                        </p>
                }
            </section>
        </div>*@

<body>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            </div>
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="Email" name="Email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="Password" name="Password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">

                                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                            @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                                        </div>
                                    </div>
                                    @*<a href="index.html" class="btn btn-primary btn-user btn-block">
                    Login
                </a>*@
                                    <input type="submit" value="Connexion" class="btn btn-primary btn-user btn-block" />
                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fa fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fa fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                    @*<a href="" class="btn btn-primary btn-user btn-block" role="button" type="submit">
                    Register Account
                </a>*@


                                }
                                </section>





                                @*<a class="small" href="forgot-password.html">Forgot Password?</a>*@
                                <p class="small text-center">
                                    @Html.ActionLink("S'inscrire comme nouvel utilisateur", "Register")
                                </p>


                                @*<a class="small" href="login.html">Already have an account? Login!</a>*@
                                <p class="small text-center">
                                    @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword")
                                </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </body>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @*<script src="~/Scripts/js/sb-admin-2.min.js"></script>*@
